[Desktop Entry]
Version=1.0
Name=Y PPA Manager
Comment=Y PPA Manager
GenericName=Y PPA Manager
Keywords=Launchpad PPA; PPA; manager; yppa; repository; add ppa; manage ppas; search ppa; 
Exec=y-pkexec
Icon=y-ppa-manager
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;System;
StartupWMClass=Y-PPA-Manager
X-Ayatana-Desktop-Shortcuts=YPPAManager1;YPPAManager3;YPPAManager4;YPPAManager5;YPPAManager6;YPPAManager7;
TargetEnvironment=Unity

[YPPAManager1 Shortcut Group]
Name=Add PPA
Exec=sh -c "rm -f '/tmp/.yppa_username' '/tmp/.yppa_home' && y-pkexec add"
TargetEnvironment=Unity

[YPPAManager3 Shortcut Group]
Name=Search in all Launchpad PPAs
Exec=sh -c "rm -f '/tmp/.yppa_username' '/tmp/.yppa_home' && y-pkexec search"
TargetEnvironment=Unity

[YPPAManager4 Shortcut Group]
Name=Manage PPAs
Exec=sh -c "rm -f '/tmp/.yppa_username' '/tmp/.yppa_home' && y-pkexec manage"
TargetEnvironment=Unity

[YPPAManager5 Shortcut Group]
Name=Install packages
Exec=y-pkexec install
TargetEnvironment=Unity

[YPPAManager6 Shortcut Group]
Name=Advanced
Exec=sh -c "rm -f '/tmp/.yppa_username' '/tmp/.yppa_home' && y-pkexec advanced"
TargetEnvironment=Unity

[YPPAManager7 Shortcut Group]
Name=Settings
Exec=sh -c "rm -f '/tmp/.yppa_username' '/tmp/.yppa_home' && y-pkexec settings"
TargetEnvironment=Unity
