[Desktop Entry]
Version=1.0
Name=Y PPA Manager
Comment=Y PPA Manager
GenericName=Y PPA Manager
Exec=y-pkexec
Icon=y-ppa-manager
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;System;
StartupWMClass=Y-PPA-Manager
X-Ayatana-Desktop-Shortcuts=YPPAManager1;YPPAManager3;YPPAManager4;YPPAManager5;YPPAManager6;YPPAManager7;
TargetEnvironment=Unity

[YPPAManager1 Shortcut Group]
Name=Add PPA
Exec=y-pkexec add
TargetEnvironment=Unity

[YPPAManager3 Shortcut Group]
Name=Search in all Launchpad PPAs
Exec=y-pkexec search
TargetEnvironment=Unity

[YPPAManager4 Shortcut Group]
Name=Manage PPAs
Exec=y-pkexec manage
TargetEnvironment=Unity

[YPPAManager5 Shortcut Group]
Name=Install packages
Exec=y-pkexec install
TargetEnvironment=Unity

[YPPAManager6 Shortcut Group]
Name=Advanced
Exec=y-pkexec advanced
TargetEnvironment=Unity

[YPPAManager7 Shortcut Group]
Name=Settings
Exec=y-pkexec settings
TargetEnvironment=Unity
