[Desktop Entry]
Version=1.0
Name=Manage PPAs
Comment=Manage PPAs enabled on your computer
GenericName=Manage PPAs
Exec=y-pkexec manage
Icon=y-manage
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;System;
StartupWMClass=Y-PPA-Manager
