
[Desktop Entry]
Version=1.0
Name=Install packages
Comment=Quickly install packages
GenericName=Install packages
Exec=y-ppa-cmd install
Icon=y-install
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;System;
StartupWMClass=Y-PPA-Manager
