
[Desktop Entry]
Version=1.0
Name=Help
Comment=Y PPA Manager help
GenericName=Install packages
Exec=y-pkexec help
Icon=y-help
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;System;
StartupWMClass=Y-PPA-Manager
